<% const t = Date.now(); %>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= page.title || config.title %></title>

  <%- open_graph({twitter_id: theme.twitter}) %>

  <link rel="stylesheet" media="screen" href="/tachyons.min.css?t=<%= t%>">
  <link rel="stylesheet" media="screen" href="/style.css?t=<%= t%>">
  <link rel="stylesheet" media="print" href="/print.css?t=<%= t%>">

  <%- partial('_ga') %>
</head>
