<body class="flex flex-column min-vh-100">
  <div class="flex-auto">
    <%- partial('_nav') %>
    <main class="BlogPost ph4 mb3 center flex-auto">
      <h1><a href="#"><%= page.title %></a></h1>
      <div class="PostDate"><%= date(page.date) %></div>
      <div class="bt bb b--black-10 pv2 sans-serif">
        <%- toc(page.content) %>
      </div>
      <%- page.content %>
      <div class="bg-washed-yellow black-80 br1 b--black-05 ba font-main pa2 f5">
        There are no comments and there never will be. You can
        <a class="b black" href="https://twitter.com/wavebeem">tweet me</a>
        or write your own blog or something.
      </div>
      <div class="font-main f3 mt4 mb1">
        <a class="dark-green db pa2 hover-bg-green hover-white ttu no-underline" href="/blog">
          ◀ Back to blog posts
        </a>
      </div>
    </main>
  </div>
  <%- partial('_footer') %>
</body>
